@font-face {
    font-family: 'broadwaydregular';
    src: url(../fonts/BroadwayD/broadwayd-webfont.woff2) format('woff2'),
    url(../fonts/BroadwayD/broadwayd-webfont.woff) format('woff');
    font-weight: normal;
}

html {
    background-image: url(../images/background-miamivice.jpg);
    background-size: cover;
}


body {
	font-family: 'broadwaydregular', Arial, sans-serif;
    display: flex;
    height: 100vh;
    padding: 20px;
    justify-content: space-between;
}

h1{
    font-family: 'broadwaydregular', Arial, sans-serif;
    font-size: 100px;
    color: #0bd3d3;
}

h2{
    font-family: 'broadwaydregular', Arial, sans-serif;
    font-size: 50px;
    color:#f890e7;
    text-align: right;
}
